[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-mail = "*"
flask-cors = "*"
psycopg2-binary = "*"
python-dotenv = "*"
bcrypt = "*"
flasgger = "*"
cloudinary = "*"
flask-migrate = "*"
flask-mailman = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
